/* Jumbotron */
.landing-page {
	padding-bottom: 40px;
}

.landing-page section {
	background: linear-gradient(
		121deg,
		var(--primary-color),
		var(--secondary-color) 60%,
		#fff 50%
	);
}

.jumbotron {
	font-family: 'Rubik', sans-serif;
}

.jumbotron h1 {
	font-size: 2.4rem;
	font-weight: 600;
}

.jumbotron-content-wrapper {
	margin-top: 25px;
}

.jumbotron-content-wrapper p {
	font-size: 27px;
	font-weight: 500;
	margin-bottom: 0;
	line-height: 2rem;
}

.jumbotron-content-wrapper span {
	font-size: 26px;
	font-weight: 500;
	color: var(--tertiary-color);
}

.gelombang-box {
	background-color: #4c1d95;
	max-width: 90%;
	border-radius: 10px;
	margin-top: 25px;
}

.gelombang-wrapper {
	padding: 10px 20px;
	line-height: 10px;
}

.gelombang-content-wrapper p {
	margin: 0;
	line-height: 40px;
	color: #fff;
}

.gelombang-content-wrapper .gelombang-text {
	font-size: 1.4rem;
	font-weight: 500;
}

.gelombang-content-wrapper .gelombang-date {
	font-size: 1.7rem;
	font-weight: 500;
}

.hero-img-wrapper img {
	width: 95%;
	margin-left: 25px;
	border-radius: 20px;
	box-shadow: 0 0 15px var(--primary-color);
}

.jumbotron-button-wrapper {
	margin-top: 30px;
}

.jumbotron-button-wrapper .panduan-pmb {
	text-decoration: none;
	color: white;
	display: inline-block;
	margin-left: 20px;
}
/* End Jumbotron */

/* Jenjang Pendidikan */
.jenjang-pendidikan .jenjang-pendidikan-header {
	text-align: center;
	font-family: 'Archivo', sans-serif;
	letter-spacing: 10px;
}

.jenjang-pendidikan .jenjang-pendidikan-header h4 {
	font-size: 1.7rem;
	font-weight: 600;
	color: var(--primary-color);
}

.jenjang-pendidikan .jenjang-pendidikan-header-detail {
	text-align: center;
	font-family: 'Rubik', sans-serif;
}

.jenjang-pendidikan .jenjang-pendidikan-header-detail h2 {
	font-size: 1.9rem;
	font-weight: 600;
}

.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan {
	margin-top: 50px;
	cursor: grab;
}

.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan:active {
	cursor: grabbing;
}

.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan {
	position: relative;
	overflow: hidden;
}

.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan .custom-list {
	list-style: none;
	padding-left: 0;
}

.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan li {
	margin-bottom: 10px;
}

.jenjang-pendidikan .mySwiper {
	height: 430px;
}

.jenjang-pendidikan .mySwiper .swiper-slide {
	height: 100%;
	overflow: hidden;
}

.jenjang-pendidikan .mySwiper .swiper-slide img {
	height: 100%;
	/* height: auto; */
}

@keyframes blob {
	0%,
	100% {
		border-radius: 80% 40% 30% 70% / 60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
}

.jenjang-pendidikan
	.mySwiper
	.swiper-slide
	.carousel-img-jenjang-pendidikan
	img {
	width: 100%;
	height: auto;
	animation: blob 6s infinite;
	transition: transform 0.3s ease-in-out;
	max-height: 500px;
	object-fit: cover;
}
/* End Jenjang Pendidikan */

/* Info PMB */
.info-pmb {
	background-color: #d3d3d333;
	min-height: 85vh;
}

.info-pmb .info-pmb-header {
	text-align: center;
	font-family: 'Archivo', sans-serif;
	letter-spacing: 10px;
	padding-top: 30px;
}

.info-pmb .info-pmb-header h4 {
	font-size: 1.7rem;
	font-weight: 600;
	color: var(--primary-color);
}

.info-pmb .info-pmb-header-detail {
	text-align: center;
	font-family: 'Rubik', sans-serif;
}

.info-pmb .info-pmb-header-detail h2 {
	font-size: 1.9rem;
	font-weight: 600;
}

.info-pmb .info-pmb-wrapper {
	margin-top: 40px;
}

.info-pmb .info-pmb-wrapper .card {
	width: 18rem;
}

.info-pmb .info-pmb-wrapper img {
	width: 4rem;
}
/* End Info PMB */

/* Beasiswa */
.beasiswa {
	margin: 40px;
}

.beasiswa .beasiswa-header {
	text-align: center;
	font-family: 'Archivo', sans-serif;
	letter-spacing: 10px;
}

.beasiswa .beasiswa-header h4 {
	font-size: 1.7rem;
	font-weight: 600;
	color: var(--primary-color);
}

.beasiswa .beasiswa-header-detail {
	text-align: center;
	font-family: 'Rubik', sans-serif;
}

.beasiswa .beasiswa-header-detail h2 {
	font-size: 1.9rem;
	font-weight: 600;
}

.beasiswa .carousel-wrapper-beasiswa {
	margin-top: 50px;
	cursor: grab;
}

.beasiswa .carousel-wrapper-beasiswa:active {
	cursor: grabbing;
}

.beasiswa .carousel-wrapper-beasiswa {
	position: relative;
	overflow: hidden;
}

.beasiswa .carousel-wrapper-beasiswa p {
	max-width: 80%;
	text-align: justify;
	margin-top: 30px;
}

.beasiswa .mySwiper {
	height: 430px;
}

.beasiswa .mySwiper .swiper-slide {
	/* display: flex;
	align-items: center;
	justify-content: center; */
	height: 100%;
	overflow: hidden;
}

.beasiswa .mySwiper .swiper-slide img {
	height: 100%;
}

/* End Beasiswa */

/******* Responsive CSS *******/
@media screen and (max-width: 992px) {
	.landing-page section {
		background: linear-gradient(var(--primary-color), var(--secondary-color));
	}
}

@media screen and (max-width: 475px) {
	/* Jumbotron */
	.landing-page section .container .jumbotron {
		margin-top: 100px;
	}

	.landing-page section .container .jumbotron h1 {
		font-size: 2.2rem;
		text-align: center;
	}

	.landing-page section .container .jumbotron .jumbotron-content-wrapper {
		text-align: center;
	}

	.landing-page section .container .jumbotron .jumbotron-content-wrapper p,
	.landing-page section .container .jumbotron .jumbotron-content-wrapper span {
		font-size: 1.5rem;
	}

	.gelombang-box {
		margin: 25px auto;
		width: 85%;
	}

	.gelombang-box .gelombang-wrapper {
		text-align: center;
	}

	.gelombang-box .gelombang-wrapper .gelombang-content-wrapper p {
		font-size: 25px;
		line-height: 32px;
	}

	.jumbotron-button-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.jumbotron-button-wrapper .button-daftar {
		font-size: 15px;
		margin-bottom: 15px;
		padding: 15px;
	}

	.jumbotron-button-wrapper .panduan-pmb {
		font-size: 15px;
		display: block;
		margin-left: 0;
	}

	.hero-img {
		padding: 0;
	}

	.hero-img .hero-img-wrapper img {
		width: 85%;
		margin: 0 auto;
		margin-bottom: 40px;
		display: flex;
	}
	/* End Jumbotron */

	/* Jenjang Pendidikan */
	.jenjang-pendidikan .jenjang-pendidikan-header h4 {
		font-size: 24px;
		letter-spacing: 8px;
	}

	.jenjang-pendidikan .jenjang-pendidikan-header-detail h2 {
		font-size: 20px;
	}

	.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan {
		margin-top: 25px;
	}

	.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan h3 {
		text-align: center;
		font-size: 1.3rem;
	}

	.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan ul li {
		font-size: 1rem;
	}

	.jenjang-pendidikan .carousel-img-jenjang-pendidikan {
		display: none !important;
	}
	/* End Jenjang Pendidikan */

	/* Info PMB */
	.info-pmb .info-pmb-header h4 {
		font-size: 24px;
		text-align: center;
		letter-spacing: 5px;
	}

	.info-pmb .info-pmb-header-detail h2 {
		font-size: 20px;
		max-width: 100%;
		margin-top: 15px;
		text-align: center;
	}

	.info-pmb .info-pmb-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.info-pmb .info-pmb-wrapper .card {
		width: 100%;
	}

	.info-pmb .info-pmb-wrapper img {
		width: 2rem;
	}

	.info-pmb .info-pmb-wrapper .card .card-title {
		font-size: 20px;
	}

	.info-pmb .info-pmb-wrapper .card .card-text {
		font-size: 16px;
	}
	/* End Info PMB */

	/* Beasiswa */
	.beasiswa {
		margin-top: 40px;
	}

	.beasiswa .beasiswa-header h4 {
		font-size: 20px;
		letter-spacing: 6px;
	}

	.beasiswa .beasiswa-header-detail h2 {
		font-size: 20px;
	}

	.beasiswa .carousel-wrapper-beasiswa {
		margin-top: 25px;
	}

	.beasiswa .carousel-wrapper-beasiswa h3 {
		font-size: 1.3rem;
	}

	.beasiswa .carousel-wrapper-beasiswa p {
		max-width: 100%;
		margin-top: 10px;
	}

	.beasiswa .carousel-wrapper-beasiswa ul li {
		text-align: left;
	}

	.beasiswa .carousel-img-beasiswa {
		display: none !important;
	}
	/* End Beasiswa */
}

@media (max-width: 375px) {
	/* Jumbotron */
	.landing-page section .container .jumbotron {
		margin-top: 100px;
	}

	.landing-page section .container .jumbotron h1 {
		font-size: 2rem;
		text-align: center;
	}

	.landing-page section .container .jumbotron .jumbotron-content-wrapper {
		text-align: center;
	}

	.landing-page section .container .jumbotron .jumbotron-content-wrapper p,
	.landing-page section .container .jumbotron .jumbotron-content-wrapper span {
		font-size: 1.3rem;
	}

	.gelombang-box {
		margin: 25px auto;
		width: 80%;
	}

	.gelombang-box .gelombang-wrapper {
		text-align: center;
	}

	.gelombang-box .gelombang-wrapper .gelombang-content-wrapper p {
		font-size: 20px;
		line-height: 32px;
	}

	.jumbotron-button-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.jumbotron-button-wrapper .button-daftar {
		font-size: 15px;
		margin-bottom: 15px;
		padding: 15px;
	}

	.jumbotron-button-wrapper .panduan-pmb {
		font-size: 15px;
		display: block;
		margin-left: 0;
	}

	.hero-img {
		padding: 0;
	}

	.hero-img .hero-img-wrapper img {
		width: 85%;
		margin: 0 auto;
		margin-bottom: 40px;
		display: flex;
	}
	/* End Jumbotron */

	/* Jenjang Pendidikan */
	.jenjang-pendidikan .jenjang-pendidikan-header h4 {
		font-size: 20px;
		letter-spacing: 8px;
	}

	.jenjang-pendidikan .jenjang-pendidikan-header-detail h2 {
		font-size: 20px;
	}

	.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan {
		margin-top: 25px;
	}

	.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan h3 {
		text-align: center;
		font-size: 1.3rem;
	}

	.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan ul li {
		font-size: 1rem;
	}

	.jenjang-pendidikan .carousel-img-jenjang-pendidikan {
		display: none !important;
	}
	/* End Jenjang Pendidikan */

	/* Info PMB */
	.info-pmb .info-pmb-header h4 {
		font-size: 20px;
		text-align: center;
		letter-spacing: 5px;
	}

	.info-pmb .info-pmb-header-detail h2 {
		font-size: 20px;
		max-width: 100%;
		margin-top: 15px;
		text-align: center;
	}

	.info-pmb .info-pmb-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.info-pmb .info-pmb-wrapper .card {
		width: 100%;
	}

	.info-pmb .info-pmb-wrapper img {
		width: 2rem;
	}

	.info-pmb .info-pmb-wrapper .card .card-title {
		font-size: 20px;
	}

	.info-pmb .info-pmb-wrapper .card .card-text {
		font-size: 16px;
	}
	/* End Info PMB */

	/* Beasiswa */
	.beasiswa {
		margin-top: 40px;
	}

	.beasiswa .beasiswa-header h4 {
		font-size: 20px;
		letter-spacing: 7px;
	}

	.beasiswa .beasiswa-header-detail h2 {
		font-size: 20px;
	}

	.beasiswa .carousel-wrapper-beasiswa {
		margin-top: 25px;
	}

	.beasiswa .carousel-wrapper-beasiswa h3 {
		font-size: 1.3rem;
	}

	.beasiswa .carousel-wrapper-beasiswa p {
		max-width: 100%;
		margin-top: 10px;
	}

	.beasiswa .carousel-wrapper-beasiswa ul li {
		text-align: left;
	}

	.beasiswa .carousel-img-beasiswa {
		display: none !important;
	}
	/* End Beasiswa */
}

@media (max-width: 320px) {
	/* Jumbotron */
	.landing-page section .container .jumbotron {
		margin-top: 80px;
	}

	.landing-page section .container .jumbotron h1 {
		font-size: 2rem;
		text-align: center;
	}

	.landing-page section .container .jumbotron .jumbotron-content-wrapper {
		text-align: center;
	}

	.landing-page section .container .jumbotron .jumbotron-content-wrapper p,
	.landing-page section .container .jumbotron .jumbotron-content-wrapper span {
		font-size: 1.2rem;
	}

	.gelombang-box {
		margin: 20px auto;
	}

	.gelombang-box .gelombang-wrapper {
		text-align: center;
	}

	.gelombang-box .gelombang-wrapper .gelombang-content-wrapper p {
		font-size: 20px;
		line-height: 28px;
	}

	.jumbotron-button-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.jumbotron-button-wrapper .button-daftar {
		font-size: 15px;
		margin-bottom: 15px;
		padding: 15px;
	}

	.jumbotron-button-wrapper .panduan-pmb {
		font-size: 15px;
		display: block;
		margin-left: 0;
	}

	.hero-img {
		padding: 0;
	}

	.hero-img .hero-img-wrapper img {
		width: 100%;
		margin-left: 0;
		margin-bottom: 40px;
	}
	/* Jumbotron */

	/* Jenjang Pendidikan */
	.jenjang-pendidikan .jenjang-pendidikan-header h4 {
		font-size: 18px;
		letter-spacing: 7px;
	}

	.jenjang-pendidikan .jenjang-pendidikan-header-detail h2 {
		font-size: 18px;
	}

	.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan {
		margin-top: 25px;
	}

	.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan h3 {
		text-align: center;
		font-size: 1.2rem;
	}

	.jenjang-pendidikan .carousel-wrapper-jenjang-pendidikan ul li {
		text-align: left;
	}

	.jenjang-pendidikan .carousel-img-jenjang-pendidikan {
		display: none !important;
	}
	/* End Jenjang Pendidikan */

	/* Info PMB */
	.info-pmb {
		padding-bottom: 30px;
	}

	.info-pmb .info-pmb-header h4 {
		font-size: 18px;
		text-align: center;
		letter-spacing: 5px;
	}

	.info-pmb .info-pmb-header-detail h2 {
		font-size: 18px;
		max-width: 100%;
		margin-top: 15px;
		text-align: center;
	}

	.info-pmb .info-pmb-header-detail p {
		font-size: 13px;
		text-align: center;
	}

	.info-pmb .info-pmb-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.info-pmb .info-pmb-wrapper .card {
		width: 100%;
	}

	.info-pmb .info-pmb-wrapper img {
		width: 2rem;
	}

	.info-pmb .info-pmb-wrapper .card .card-title {
		font-size: 18px;
	}

	.info-pmb .info-pmb-wrapper .card .card-text {
		font-size: 14px;
	}
	/* End Info PMB */

	/* Beasiswa */
	.beasiswa {
		margin-top: 40px;
	}

	.beasiswa .beasiswa-header h4 {
		font-size: 18px;
		letter-spacing: 7px;
	}

	.beasiswa .beasiswa-header-detail h2 {
		font-size: 18px;
	}

	.beasiswa .carousel-wrapper-beasiswa {
		margin-top: 25px;
	}

	.beasiswa .carousel-wrapper-beasiswa h3 {
		font-size: 1.2rem;
	}

	.beasiswa .carousel-wrapper-beasiswa p {
		max-width: 100%;
		margin-top: 10px;
	}

	.beasiswa .carousel-wrapper ul li {
		text-align: left;
	}

	.beasiswa .carousel-img-beasiswa {
		display: none !important;
	}
	/* End Beasiswa */
}

/******* End Responsive CSS *******/
